{% extends "layout.html" %}

{% set no_container = True %}
{% set hide_footer = True %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">

{% endblock %}

{% block content %}

<div>
  <div class="sidebar">
    <div class="node-list">
      <div class="node node-image-matching">
        <span>Image Matching</span>
      </div>
    </div>
  </div>

  <div class="canvas-panel">
    <h1>Workflow Editor</h1>

    <button class="btn btn-primary float-right" id="downloadButton">Download</button>

    <div class="canvas">
      <div class="flow">
        <div class="node node-start">
          <span>Start</span>
        </div>

        <div class="node node-end">
          <span>End</span>
        </div>
      </div>
    </div>
  </div>

  <div class="node-property-panel">
  </div>
</div>

<script type="text/template" id="tmplImageMatchingNodeProperty">
  <div class="image-matching-node-property">
    <input type="text" class="name" placeholder="Node name" value="<%= name %>" />

    <button type="button" class="capture" data-token="{{ session['session_id'] }}">Capture</button>

    <select class="action">
      <option value="lclick">Left Click</option>
    </select>

    <img class="capture-image" />
  </div>
</script>

<div class="modal fade capture-image-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select image matching area</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <canvas class="capture-image-canvas" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-button">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<!-- Just for html template -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.6.3/html.sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
<script src="{{ url_for('static', filename='edit.js') }}"></script>

{% endblock %}
