(% extends "layout.html" %)

(% block stylesheets %)

<link rel="stylesheet" href="(( url_for('static', filename='edit.css') ))">

(% endblock %)

(% block content %)

<!-- TODO: remove -->
<div id="session-id" data-session-id="(( session['session_id']|e ))"></div>

<div id="app">
  <mdc-layout-app>
    <mdc-toolbar slot="toolbar" fixed>
      <mdc-toolbar-row>
        <mdc-toolbar-section align-start>
          <mdc-toolbar-menu-icon event="toggle-drawer"></mdc-toolbar-menu-icon>
          <mdc-toolbar-title @click="onTitleClick">OpenRPA</mdc-toolbar-title>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
    <mdc-drawer slot="drawer" temporary="true" toggle-on="toggle-drawer">
      <mdc-drawer-list>
        <mdc-drawer-item start-icon="inbox">Inbox</mdc-drawer-item>
        <mdc-drawer-item start-icon="send">Sent Mail</mdc-drawer-item>
        <mdc-drawer-item start-icon="drafts">Drafts</mdc-drawer-item>
      </mdc-drawer-list>
    </mdc-drawer>
    <main class="content">
      <rpa-node-palette></rpa-node-palette>
      <rpa-workflow-canvas></rpa-workflow-canvas>
      <rpa-node-property-panel ref="nodePropertyPanel" :active="isNodePropertyPanelActive"></rpa-node-property-panel>
    </main>
  </mdc-layout-app>
</div>

(% include 'components/node-palette.html' %)
(% include 'components/workflow-canvas.html' %)
(% include 'components/node-property-panel.html' %)
(% include 'components/image-matching-node-property.html' %)
(% include 'components/keyboard-input-node-property.html' %)
(% include 'components/wait-node-property.html' %)
(% include 'components/image-matching-capture-image-dialog.html' %)
(% include 'components/image-matching-capture-image-dialog-canvas.html' %)

(% endblock %)

(% block scripts %)

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>
<script src="(( url_for('static', filename='edit.js') ))"></script>

(% endblock %)
