<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/vue-mdc-adapter@^0.6.0/dist/vue-mdc-adapter.min.css" type="text/css">

    (% block stylesheets %) (% endblock %)

    <script src="https://unpkg.com/vue@^2.5.9/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-mdc-adapter@^0.6.0/dist/vue-mdc-adapter.min.js"></script>

    <title>(( title )) - OpenRPA</title>
  </head>
  <body class="mdc-typography">
    (% block content %) (% endblock %)

    (% block scripts %) (% endblock %)
  </body>
</html>
