/*
 * Node palette
 */

.node-palette {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 200px;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eee;
    border-right: 1px solid #ccc;
}

/**
 * Node class
 * Node instance
 */

.node-class,
.node-instance {
    width: 150px;
    height: 60px;
    background: #eeeeef;
    border: 1px solid #346789;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.8em;
    margin-top: 20px;
    cursor: move;
}

/*
 * Workflow canvas
 */

.workflow-canvas {
    margin-left: 200px;
    margin-right: 300px;
    padding: 0 20px;
    overflow-x: scroll;
    position: relative;
}

.workflow-canvas h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.workflow-canvas .canvas-controls {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: calc(20px + 10px);
}

.workflow-canvas .canvas-panel {
    margin-left: 200px;
    margin-right: 300px;
    padding: 0 20px;
    overflow-x: scroll;
}

.workflow-canvas .canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fafafa;
    padding: 20px 60px;
    min-width: 500px;
    border: 1px solid lightgray;
}

/*
 * Node property panel
 */

.node-property-panel {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #eee;
    border-left: 1px solid #ccc;
}

.node-property-panel.hidden {
    display: none;
}


/*
 * Image matching node property
 */

.image-matching-node-property .capture-button {
    display: block;
    margin: 2rem 10px;
}

.image-matching-node-property .capture-image {
    width: 100%;
}

.image-matching-node-property .window-title.hidden {
    display: none;
}

/*
 * Image matching capture image dialog canvas
 */

.image-matching-capture-image-dialog-canvas {
    height: 400px; /* TODO: auto computing */
    overflow: scroll;
}
