.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    width: 200px;
    padding: 20px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f3f3f3;
    border-right: 1px solid #eee;
}

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.canvas-panel {
    margin-left: 200px;
    margin-right: 300px;
    padding: 0 20px;
    overflow-x: scroll;
}

.node {
    width: 150px;
    height: 60px;
    background: #eeeeef;
    border: 1px solid #346789;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.8em;
}

.canvas .node {
    margin-top: 20px;
}

.canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fafafa;
    padding: 20px 60px;
    min-width: 500px;
    border: 1px solid lightgray;
}

.node-property-panel {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px 10px;
    background: #f3f3f3;
}

.node-property-panel .capture-image {
    width: 100%;
}

.capture-image-modal .modal-body {
    overflow: scroll;
}
