/*
 * Node palette
 */

.node-palette {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 200px;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eee;
    border-right: 1px solid #ccc;
}

/**
 * Node class
 * Node instance
 */

.node-class,
.node-instance .instance-area {
    background: #eeeeef;
    border: 1px solid #346789;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    cursor: move;
}

/*
 * Node class
 */

.node-class {
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

/*
 * Node instance
 */

.node-instance.hidden {
    display: none;
}

.node-instance .instance-area {
    width: 150px;
    height: 60px;
}

.node-instance .instance-area.selected {
    border: 2px solid blue;
}

.node-instance .successor-drop-area {
    width: 200px;
    height: 20px;
    margin-left: calc((150px - 200px) / 2);
}

.node-instance .successor-drop-area.emphasized {
    height: 80px;
}

/*
 * Workflow canvas
 */

.workflow-canvas {
    margin-left: 200px;
    margin-right: 300px;
    padding: 0 20px;
    overflow-x: scroll;
    position: relative;
}

.workflow-canvas h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.workflow-canvas .canvas-controls {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: calc(20px + 10px);
}

.workflow-canvas .canvas-panel {
    margin-left: 200px;
    margin-right: 300px;
    padding: 0 20px;
    overflow-x: scroll;
}

.workflow-canvas .canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fafafa;
    padding: 20px 60px;
    min-width: 500px;
    border: 1px solid lightgray;
}

/*
 * Node property panel
 */

.node-property-panel {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #eee;
    border-left: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

.node-property-panel.hidden {
    display: none;
}


/*
 * Image matching node property
 */

.image-matching-node-property .capture-button {
    display: block;
    margin: 2rem 10px;
}

.image-matching-node-property .capture-image-container {
    position: relative;
}

.image-matching-node-property .hidden-until-receive-capture.hidden,
.image-matching-node-property .select-area-notice.hidden {
    display: none;
}

.image-matching-node-property .select-area-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: black;
    opacity: 0.8;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.image-matching-node-property .capture-image {
    width: 100%;
}

.image-matching-node-property .window-title,
.image-matching-node-property .action,
.image-matching-node-property .timeout {
    margin-top: 20px;
}

/*
 * Image matching capture image dialog canvas
 */

.image-matching-capture-image-dialog-canvas {
    height: 50vh;
    overflow: scroll;
}
