<script type="text/template" id="tmpl-image-matching-node-property">
  <div class="image-matching-node-property">
    <span class="node-type">{{ nodeInstance.displayType }}</span>

    <mdc-textfield v-model="nodeInstance.name"
                   class="node-name" label="Action name" />

    <mdc-fab icon="camera_alt" mini class="capture-button" @click="onCaptureButtonClick"></mdc-fab>

    <div class="hidden-until-receive-capture" :class="{hidden: !hasImage}">
      <div class="capture-image-container" @click="onCaptureImageClick">
        <span class="select-area-notice" :class="{hidden: hasRect}">Click here and select matching area.</span>
        <img :src="nodeInstance.prop.imageUrlPath" class="capture-image" />
      </div>

    <mdc-textfield v-model="nodeInstance.prop.windowTitle"
                   class="window-title" label="Window title" />

    <mdc-select v-model="nodeInstance.prop.action" label="Please select action"
                class="action">
      <mdc-option value="Nothing">Nothing</mdc-option>
      <mdc-option value="LeftClick">Left Click</mdc-option>
      <mdc-option value="RightClick">Right Click</mdc-option>
      <mdc-option value="DoubleLeftClick">Double Left Click</mdc-option>
    </mdc-select>

    <rpa-image-matching-capture-image-dialog
        ref="captureImageDialog"
        :node-instance="nodeInstance"></rpa-image-matching-capture-image-dialog>
  </div>
</script>
