<script type="text/template" id="tmpl-image-matching-capture-image-dialog">
  <div class="image-matching-capture-image-dialog">
    <mdc-dialog ref="dialog" title="Select Matching Area" accept="Save" cancel="Cancel"
                @accept="onSave" @cancel="onCancel">
      <rpa-image-matching-capture-image-dialog-canvas
          ref="canvas" class="image-dialog-canvas"
          :image-url-path="imageUrlPath" :start-pos="startPos" :end-pos="endPos" :action-pos="actionPos" />
    </mdc-dialog>
  </div>
</script>
