<script type="text/template" id="tmpl-node-instance">
  <div class="node-instance" :class="{hidden: isDragged}">
    <div class="instance-area" :draggable="draggable"
         @dragstart="onDragStart" @dragend="onDragEnd" @click="onClick">
      <span>{{ name }}</span>
    </div>
    <div class="successor-drop-area" :class="{emphasized: isSuccessorOn}"
         v-if="canHaveSuccessor"
         @dragenter="onSuccessorDragEnter"
         @dragover="onSuccessorDragOver"
         @dragleave="onSuccessorDragLeave"
         @drop="onSuccessorDrop"></div>
  </div>
</script>
