<script type="text/template" id="tmpl-workflow-canvas">
  <div class="workflow-canvas">
    <h1>Workflow Name</h1>

    <div class="canvas-controls">
      <mdc-button raised @click="onSaveButtonClick">Save</mdc-button>
      <mdc-button raised accent @click="onExecuteButtonClick">Execute</mdc-button>
    </div>

    <div class="canvas" @dragover="onDragOver" @drop="onDrop">
      <div class="flow">
        <rpa-node-instance v-for="node in workflow"
                           :id="node.id" :type="node.type"
                           :display-type="node.displayType" :name="node.name"
                           :prop="node.prop"
                           @nodepropertychange="onNodePropertyChange"></rpa-node-instance>
      </div>
    </div>
  </div>
</script>

(% include 'components/node-instance.html' %)
