<script type="text/template" id="tmpl-workflow-canvas">
  <div class="workflow-canvas">
    <div class="workflow-menu">
      <mdc-menu-anchor>
        <mdc-button stroked @click="onMenuClick"><mdc-icon icon="settings"></mdc-icon></mdc-button>
        <mdc-menu ref="menu" open-from-top-right @select="onMenuItemSelect">
          <mdc-menu-item data-menu-item-id="delete">Delete</mdc-menu-item>
        </mdc-menu>
      </mdc-menu-anchor>

      <mdc-dialog ref="dialog" title="Confirmation" accept="Delete" cancel="Cancel"
                  @accept="onDeleteWorkflowConfirmationAccept">
        Delete this workflow?
      </mdc-dialog>
    </div>

    <mdc-textfield v-model="name" label="Title" box/>

    <div class="canvas-main">
      <div class="canvas-controls">
        <mdc-button raised @click="onSaveButtonClick" :disabled="isSaving">
          {{ isSaving ? 'Saving...' : 'Save' }}
        </mdc-button>
        <mdc-button raised accent @click="onExecuteButtonClick" :disabled="isSaving">
          Execute
        </mdc-button>
      </div>

      <div class="canvas">
        <div class="flow">
          <rpa-node-instance v-for="node in workflow"
                             :id="node.id" :type="node.type"
                             :display-type="node.displayType" :name="node.name"
                             :prop="node.prop"
                             :key="node.id"
                             @successordrop="onSuccessorDrop"
                             @nodepropertychange="onNodePropertyChange"></rpa-node-instance>
        </div>
      </div>
    </div>
  </div>
</script>

(% include 'components/node-instance.html' %)
